@import "../styles/var.scss";



.btn-play {
  position: relative;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  display: block;
  box-sizing: content-box;
  width: 16px;
  height: 26px;
  border-radius: 100%;
  border: none;
  outline: none !important;
  padding: 18px 20px 20px 28px;
  background: $light;
}

.btn-play:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: $light;
  border-radius: 100%;
  animation: pulse-border 1500ms ease-out infinite;
}

.btn-play:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: $light;
  border-radius: 100%;
  transition: all 200ms;
}

.btn-play span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  left: -5px;
  border-left: 25px solid $primary;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.service-carousel {
  display: flex;
}

.product-carousel {
  display: flex;
}

.team-carousel {
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
}

.testimonial-carousel {
  display: flex;
}

.testimonial-carousel .owl-item img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
}

.testimonial-carousel .owl-dots {
  margin-top: 25px;
  text-align: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 8px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: $primary;
}

.testimonial-carousel .owl-dot::after {
  position: absolute;
  content: "";
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border: 2px solid $primary;
  border-radius: 20px;
}

.testimonial-carousel .owl-dot.active {
  background: $secondary;
}

.contact-form .help-block ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}